:root{
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: #eef2f3;
}

body ::-webkit-scrollbar{
    width: 0.25rem;
}

body ::-webkit-scrollbar-track{
    background:#16262E;
}

body::-webkit-scrollbar-thumb{
    background:#9FA2B2;
}

main{
    margin-left: 6rem;
    padding: 1rem;
}

/*Header*/
.navbar{
    width: 6rem;
    height: 100vh;
    position: fixed;
    background-color:#16262E;
    transition: width 200ms ease;
}


.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item{
    width: 100%;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: #3C7A89;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
}

.item-text{
    display: none;
    margin-left: 1rem;
}
.fa-star .fa-tachometer-alt .fa-star{
    min-width: 2rem;
    margin: 0 1.5rem;
    font-size: 20px;
}

.navbar:hover{
    width: 14rem;
}

.navbar:hover .item-text{
    display: block;
}


.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background: #16262E;
    color: #3C7A89;
}

.dropdown-menu{
    display: none;
    position: relative;
    left: 2rem;
    width: 80%;
    background-color: #1F4761;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-menu a{
    font-size: 14px;
    text-decoration: none;
    display: block;
    color: #ffffff;
    padding: 12px 16px;
   
}

#dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown-menu a:hover{
    background-color: #288197;
    color:  #0E2631;
}


/*Footer*/
.site-footer{
    background-color:#26272b;
    padding:20px 0px 20px 0px;
    margin-left: 0;
    font-size:15px;
    line-height:24px;
    color:#737373;
    text-align: center;
    bottom: 0;
    position: absolute;
    min-width: 90%;
}

/*AddProduct*/

.container{
    background-color: #ffffff;
    /* padding: 0 5px 0 5px; */
    padding-bottom: 15px;
}

.row{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 7px;
}

.btn-edit{
    background-color: #0E2631;
    color: white;
}

.btn-edit:hover{
    color:  white;
    background-color: #2E4756;
}

.btn-group{
    width: 70%;
}

td{
    white-space: nowrap;
}

.fa-info-circle{
    font-size: 14px; 
}


#del-var{
    color:#e32f29;
}


/*Login*/

.container-login{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    align-items: center;
    /* background: linear-gradient(#288197, #3C7A89); */
    background: linear-gradient(to right, #2C3E50 0%, #2C3E50 50%, #25476a 50%, #25476a 100%);
    width: 60%;
    height: 70%;
    margin: 5rem 0 0 17rem;
    color: #ffffff;
    font-family: 'Varela Round', sans-serif;
    border-radius: 15px;
}


.form-login{
    padding-right: 15px;
}

.form-login .form-control{
    border-radius: 20px;
}

.fa-users{
    font-size: 90px;
    margin-bottom: 35px;
}

#log-btn{
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}
